* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 20px auto;
    background-color: #ffffff;
}

header h1 {
    font-size: 108px;
    margin: 0px;
}

header h2 {
    font-size: 54px;
    margin: 0px;
    color: #888;
    font-style: italic;
}

nav ul {
    list-style: none;
    padding: 20px;
    display: block;
    clear: right;
    background-color: #666;
    padding-left: 4px;
    height: 48px;
}

nav ul li {
    display: inline;
    padding: 0px 20px 5px 10px;
    border-right: 1px solid #ccc;
}

nav ul li a {
    color: #EFD3D3;
    text-decoration: none;
    font-size: 39px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #fff;
}

article > header h1 {
    font-size: 60px;
    margin-left: 14px;
}

article > header h1 a {
    color: #993333;
}

article > header h1 img {
    vertical-align:middle;
}

article > section header h1 {
    font-size: 48px;
}

article p {
    clear: both;
}

footer p {
    text-align: center;
    font-size: 36px;
    color: #888;
    margin-top: 30px;
}
.clock {
    margin: 50px;
    display: grid;
    grid-template-columns: 4fr 1fr 2fr 2fr 1fr;
    grid-template-rows: 60px 200px 60px 200px;
    align-items: center;
}

.title {
    text-align: center;
    border: solid 1px gray;
    background-color: rgba(0, 200, 100, 0.5);
    padding: 10px 0;
}

.HStitle {
    grid-column-start: 3;
    grid-row-start: 1;
    text-align: center;
}
.GStitle {
    grid-column-start: 4;
    grid-row-start: 1;
    text-align: center;

}
.PEtitle {
    grid-column-start: 3;
    grid-row-start: 3;
    text-align: right;
}
.TItitle {
    display: none;
    grid-column-start: 2;
    grid-row-start: 4;
    text-align: center;

}
#homeScore {
    grid-column-start: 3;
    grid-row-start: 2;
    text-align: center;
    font-size: 6em;

}

#guestScore {
    grid-column-start: 4;
    grid-row-start: 2;
    text-align: center;
    font-size: 6em;

}

#period {
    grid-column-start: 4;
    grid-row-start: 3;
    text-align: left;

}
#timeClock {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    text-align: center;
    font-size: 8em;
    background-color: #cdfffe81;

}

#test {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    text-align: left;
    padding-left: 10px;
    justify-content: baseline;
}

.deviceInfo {
    border: solid 1px gray;
    margin: 0 50px;
    font-size: xx-large;
    padding: 10px 0;
    text-align: center;
    background-color: #cdfffe;
}